html {
  background-color: rgba(0, 0, 0, 0.733);
}

h1 {
  color:rgb(240, 240, 243);
  font-size: 3rem;
}

p {
  color:rgb(240, 240, 243);
  font-size: 1.5rem;
}

button {
  background-color: rgb(56, 59, 59);
  color: rgb(240, 240, 243);
  min-height: fit-content;
  padding: 10px;
  font-size: .9rem;
  border-radius: 5px;
}

.smallP {
  font-size: .9rem;
  margin-left: 15px;
  margin-right: 15px;
}

.App {
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
}

.sqButton {
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
  background-color: rgb(56, 59, 59);
  color: rgb(240, 240, 243);
  font-size: 1.5rem;
}


.square {
  padding: 5px;
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.gutter {
  min-height: 10px;
  margin-bottom: 10px;
}